@import "variables.scss";

body {
  background-color: $crema !important;
  padding: 0px !important;
}
.li-active{
  background-color: #aecb67 !important;
}
#map {
  height: 500px;
  margin-top: 40px;
}

.content {
  z-index: 10;
}

iframe {
  width: 100% !important;
}

input,
select,
textarea {
  font-family: $font-Mont;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  @media #{$mobile2} {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

h1 {
  font-family: $font-Merri;
  font-size: 35px;

  @media #{$mobile2} {
    font-size: 27px;
    margin-bottom: 15px;
  }
}

h2 {
  font-family: $font-Merri;
  font-size: 22px;
  // margin-bottom: 12px !important;
  // color: $crema;
  color: $color-grey;
  font-weight: 600;

  strong {
    font-size: 17px !important;
  }
}

p {
  font-family: $font-Mont;
  font-size: 16px;
  color: $color-grey;
  margin-bottom: 10px !important;

  @media #{$tablet} {
    font-size: 14px;
    margin-bottom: 15px !important;
  }
}

#erroresCliente {
  h2 {
    color: #842029;
    font-size: 20px;
    font-family: $font-Merri;
    font-weight: 600;
  }
}

h3 {
  font-family: $font-Mont;
  font-size: 18px;
  // color: $crema;
  font-weight: 500;
}

a {
  font-size: 14px;
}

h1.text-center {
  margin-bottom: 30px;
}

p.text-center {
  font-family: $font-Mont;
  font-size: 17px;
  color: $color-grey;
  margin-bottom: 5px !important;
  margin-top: 0px;
  width: 60%;
  margin: 0 auto;

  @media #{$mobile2} {
    width: 90%;
  }
}

p.mt-5 {
  font-style: italic;
  font-size: 16px;

  span {
    font-weight: 600;
  }

  @media #{$mobile2} {
    display: none;
  }
}

p.card-text {
  font-family: $font-Mont;
  font-size: 14px;
  color: $color-grey;
}

.card-title {
  font-family: $font-Merri;
  font-weight: 600;
  font-size: 20px;
  color: $color-grey;
}

.card-body {
  i {
    color: $secondary-color;
    transition: transform 0.4s ease;


    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}


.buttonPassword {
  width: fit-content;
  height: 30px;
  background-color: $color-grey;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: $font-Mont;
  color: $color-white;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-lightgrey;
    color: $color-grey;
  }
}

.buttonPassword2 {
  width: fit-content;
  height: 30px;
  background-color: $red;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: $font-Mont;
  color: $color-white;
  margin-top: 20px;
}

.breadcrumb {
  align-items: flex-end;

  .active {
    color: $primary-color;
    font-family: $font-Mont;
    font-size: 16px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;

    @media #{$mobile2} {
      font-size: 14px;
    }
  }

  li a {
    text-decoration: none;
    color: $color-grey;
    font-family: $font-Mont;
    font-size: 16px;
    font-weight: 500;

    @media #{$mobile2} {
      font-size: 14px;
    }

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

tbody {
  tr {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $color-lightgrey !important;
    }
  }
}

footer {
  // position: relative;
  // bottom: 0;

  // @media #{$mobile2} {
  //   position: absolute;
  //   bottom: 0;
  // }

  background-color: $color-grey;
  height: 54px;
  width: 100%;

  p {
    font-size: 15px;
    font-family: $font-Mont;
    color: $color-lightgrey;
  }
}

.input-error {
  border: 1px solid red !important;
}

.welcome {
  display: flex;
  align-items: baseline;
  margin-left: 25px;

  img {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  @media #{$mobile2} {
    margin-left: 20px;
    flex-wrap: wrap;
  }

  img {
    width: 110px;
    height: 110px;
    margin-top: 25px;
  }

  .welcome-text {
    display: flex;
    align-items: baseline;
    width: 13%;

    @media #{$mobile2} {
      width: 70%;
    }

    .iconUser {
      font-size: 32px;
      // color: $crema;
    }
  }

  .nav-container {
    margin-left: 20px;

    @media #{$tablet2} {
      margin-left: 36px;
    }

    @media #{$tablet2} {
      margin-left: 80px;
    }

    @media #{$mobile2} {
      margin-left: 0px;
    }

    @media (max-width: 990px) {
      margin-left: 0px;

    }
  }

  .buttonLogout {
    //Eliminar estilos del botón
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    .iconLogout {
      font-size: 42px;

      position: absolute;
      top: 30px;
      right: 30px;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: red;
      }
    }
  }
}

.section,
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$mobile2} {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 990px) {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin-left: 20px;
    margin-right: 20px;
  }

}

.navbar-expand-lg {
  width: 304px !important;
  position: relative !important;
  top: 0px;
  background: linear-gradient(to bottom, $crema, $menu);
  // opacity: 0.8;

  @media #{$tablet2} {
    background-color: unset;
    background: unset;
  }

  @media (min-width: 994px) {
    background: linear-gradient(to bottom, $crema, $menu);
  }

  @media #{$tablet2} {
    width: 314px !important;

  }

}

.lateral-menu {
  display: block !important;
  //background-color: $third-color;
  // width: 400px;
  height: 100vh;
  padding-top: 36px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  top: -40px;
  margin-left: 25px;

  @media (max-width: 990px) {
    height: unset;
    position: relative;
    top: 0px;
  }

  // @media #{$tablet2} {
  //   padding-top: 10px !important;
  // }


  @media #{$mobile2} {
    height: unset;
    padding-top: 10px !important;
    margin-left: 0px;
  }

  .nav-item {
    // width: 389px;
    border-bottom: 1px solid rgba($color-grey, 0.1);
  }

  .navbar-nav {
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    height: 55px !important;
    // padding-left: 10px;
    margin-top: 20px;
    transition: background-color 0.4s ease-in-out;

    @media #{$mobile2} {
      height: 50px !important;
      padding-left: 0px;
    }

    &:hover {
      background-color: #aecb67;
    }
  }

  .nav-section {
    text-decoration: none;
    // color: $crema;
    color: $color-grey;
    display: flex;
    align-items: baseline;
    margin-left: 10px;

    i {
      font-size: 21px;
      margin-right: 6px;
    }
  }
}

.line {
  position: absolute;
  /* Lo coloca en la parte inferior de la página */
  top: 0;
  left: 0;
  height: 100vh;
  width: 305px;
  border-right: 1px solid #e0e0e0;

  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  z-index: -1;
  background-color: $crema;
  // opacity: 0.8;

  @media #{$tablet} {
    width: 315px;
  }

  @media #{$tablet2} {
    display: none;
  }
}

//Control del acordeon y tabla
.desktop-table {
  @media #{$mobile2} {
    display: none;
  }
}

.mobile-accordion {
  @media #{$mobile2} {
    display: block;
  }
}

.desktop-table {
  @media #{$mobile2} {
    display: table;
  }
}

.mobile-accordion {
  @media #{$mobile2} {
    display: none;
  }
}

.accordion {
  .accordion-item {
    h2 {
      font-family: $font-Mont;
      font-size: 25px;

      button {
        font-weight: 500;

        &.collapsed {
          color: inherit;
          background-color: inherit;
        }

        &:not(.collapsed) {
          color: $color-grey !important;
          background-color: $third-color !important;
        }

        &:focus {
          border-color: $primary-color !important;
          box-shadow: 0 0 0 0.2rem rgba(5, 103, 24, 0.25) !important;
        }
      }
    }
  }
}

.iconDelete {
  color: $red;
  font-size: 40px;

  i {
    // border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding: 4px 4px;
  }

  :hover {
    transition: background-color 0.3s ease-in-out;
    color: $color-white;
    background-color: $red;

    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}

.iconModify {
  color: $secondary-color;
  font-size: 40px;

  i {
    // border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding: 4px 4px;
  }

  :hover {
    transition: background-color 0.3s ease-in-out;
    color: $color-white;
    background-color: $secondary-color;

    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}

.leaflet-popup-content-wrapper {
  background: $crema !important;
  border: 1px solid $secondary-color !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  .leaflet-popup-content {
    font-family: $font-Mont;
    font-size: 13.5px;
    font-weight: 500;
    color: $color-grey;
    line-height: 1.7;

    a {
      font-size: 12px;
      color: $secondary-color;
    }

    .zona {
      font-size: 14.5px;
      color: $primary-color;
      text-decoration: underline;
    }

    hr {
      border: 1px solid $color-lightgrey;
    }

    .parcelas-li {
      font-size: 12px;
      font-style: italic;
    }
  }
}
 hr{
  color: $secondary-color;
 }

.modal-body,
.modal-header {
  font-family: $font-Mont;

  h5 {
    font-family: $font-Merri;
    font-weight: bold;
  }
}

.dataTables_info,
label {
  font-family: $font-Mont;
  font-size: 14px;
  color: $color-grey;
  font-weight: 500;
}

#tablaOrdenar_wrapper {
  >div:first-child {
    >div:first-child {
      display: none;
    }

    div {
      display: flex;
    }
  }

  .dt-row {
    max-height: 700px;
    overflow: auto;
  }

}

.pagination,
.dataTables_info {
  display: none;
}

.leaflet-popup-close-button {
  position: absolute;
  top: 5px !important;
  right: 8px !important;

  span {
    font-size: 25px;
    margin: 5px;
    color: $color-grey;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

.navbar-toggler{
  // border: 1px solid $secondary-color !important;
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(85,139,47,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' fill='none' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}