@charset "UTF-8";
body {
  background-color: #f7f5ee !important;
  padding: 0px !important;
}

.li-active {
  background-color: #aecb67 !important;
}

#map {
  height: 500px;
  margin-top: 25px;
}

.content {
  z-index: 10;
}

iframe {
  width: 100% !important;
}

input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  flex: 1;
}
@media (max-width: 576px) {
  main {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 27px;
    margin-bottom: 15px;
  }
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 22px;
  color: #333333;
  font-weight: 600;
}
h2 strong {
  font-size: 17px !important;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px !important;
}
@media (max-width: 1680px) {
  p {
    font-size: 14px;
    margin-bottom: 15px !important;
  }
}

#erroresCliente h2 {
  color: #842029;
  font-size: 20px;
  font-family: "Merriweather", serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a {
  font-size: 14px;
}

h1.text-center {
  margin-bottom: 30px;
}

p.text-center {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #333333;
  margin-bottom: 5px !important;
  margin-top: 0px;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  p.text-center {
    width: 90%;
  }
}

p.mt-5 {
  font-style: italic;
  font-size: 16px;
}
p.mt-5 span {
  font-weight: 600;
}
@media (max-width: 576px) {
  p.mt-5 {
    display: none;
  }
}

p.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}

.card-title {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}

.card-body i {
  color: #558b2f;
  transition: transform 0.4s ease;
}
.card-body i:hover {
  transform: rotate(360deg) scale(1.2);
}

.buttonPassword {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background-color: #333333;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}
.buttonPassword:hover {
  background-color: #e0e0e0;
  color: #333333;
}

.buttonPassword2 {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background-color: #d82515;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}

.breadcrumb {
  align-items: flex-end;
}
.breadcrumb .active {
  color: #8bc34a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
}
@media (max-width: 576px) {
  .breadcrumb .active {
    font-size: 14px;
  }
}
.breadcrumb li a {
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .breadcrumb li a {
    font-size: 14px;
  }
}
.breadcrumb li a:hover {
  color: #8bc34a;
  text-decoration: underline;
}

tbody tr {
  transition: all 0.2s ease-in-out;
}
tbody tr:hover {
  background-color: #e0e0e0 !important;
}

footer {
  background-color: #333333;
  height: 54px;
  width: 100%;
}
footer p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #e0e0e0;
}

.input-error {
  border: 1px solid red !important;
}

.welcome {
  display: flex;
  align-items: baseline;
  margin-left: 25px;
}
.welcome img {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .welcome {
    margin-left: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1220px) {
  .welcome {
    margin-left: 20px;
    flex-wrap: wrap;
  }
}
.welcome img {
  width: 110px;
  height: 110px;
  margin-top: 25px;
}
.welcome .welcome-text {
  display: flex;
  align-items: baseline;
  width: 13%;
}
@media (max-width: 576px) {
  .welcome .welcome-text {
    width: 70%;
  }
}
@media (max-width: 1220px) {
  .welcome .welcome-text {
    width: 70%;
  }
}
.welcome .welcome-text .iconUser {
  font-size: 32px;
}
.welcome .nav-container {
  margin-left: 20px;
}
@media (max-width: 1220px) {
  .welcome .nav-container {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .welcome .nav-container {
    margin-left: 0px;
  }
}
@media (max-width: 990px) {
  .welcome .nav-container {
    margin-left: 0px;
  }
}
.welcome .buttonLogout {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.welcome .buttonLogout .iconLogout {
  font-size: 42px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: color 0.2s ease-in-out;
}
.welcome .buttonLogout .iconLogout:hover {
  color: red;
}

.section,
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .section,
  .content {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 990px) {
  .section,
  .content {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.navbar-expand-lg {
  width: 304px !important;
  position: relative !important;
  top: 0px;
  background: linear-gradient(to bottom, #f7f5ee, #6E932A);
}
@media (max-width: 1220px) {
  .navbar-expand-lg {
    background-color: unset;
    background: unset;
  }
}
@media (min-width: 994px) {
  .navbar-expand-lg {
    background: linear-gradient(to bottom, #f7f5ee, #6E932A);
  }
}
@media (max-width: 1220px) {
  .navbar-expand-lg {
    width: 314px !important;
  }
}

.lateral-menu {
  display: block !important;
  height: 100vh;
  padding-top: 36px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  top: -40px;
  margin-left: 25px;
}
@media (max-width: 990px) {
  .lateral-menu {
    height: unset;
    position: relative;
    top: 0px;
  }
}
@media (max-width: 576px) {
  .lateral-menu {
    height: unset;
    padding-top: 10px !important;
    margin-left: 0px;
  }
}
.lateral-menu .nav-item {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.lateral-menu .navbar-nav {
  width: 100%;
  margin-top: 25px;
}
.lateral-menu li {
  display: flex;
  align-items: center;
  /* height: 55px !important; */
  /* margin-top: 20px; */
  padding-top: 20px;
  padding-bottom: 10px;
  transition: background-color 0.4s ease-in-out;
}
@media (max-width: 576px) {
  .lateral-menu li {
    height: 50px !important;
    padding-left: 0px;
  }
}
.lateral-menu li:hover {
  background-color: #aecb67;
}
.lateral-menu .nav-section {
  text-decoration: none;
  color: #333333;
  display: flex;
  margin-left: 10px;
}
.lateral-menu .nav-section i {
  font-size: 21px;
  margin-right: 6px;
}

.line {
  position: absolute;
  /* Lo coloca en la parte inferior de la página */
  top: 0;
  left: 0;
  height: 100vh;
  width: 305px;
  border-right: 1px solid #e0e0e0;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  z-index: -1;
  background-color: #f7f5ee;
}
@media (max-width: 1680px) {
  .line {
    width: 315px;
  }
}
@media (max-width: 1220px) {
  .line {
    display: none;
  }
}

.desktop-table {
  display: table;
}
@media (max-width: 576px) {
  .desktop-table {
    display: none;
  }
}

.mobile-accordion {
  display: none;
}
@media (max-width: 576px) {
  .mobile-accordion {
    display: block;
  }
}

.accordion .accordion-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.accordion .accordion-item h2 button {
  font-weight: 500;
}
.accordion .accordion-item h2 button.collapsed {
  color: inherit;
  background-color: inherit;
}
.accordion .accordion-item h2 button:not(.collapsed) {
  color: #333333 !important;
  background-color: #dcedc8 !important;
}
.accordion .accordion-item h2 button:focus {
  border-color: #8bc34a !important;
  box-shadow: 0 0 0 0.2rem rgba(5, 103, 24, 0.25) !important;
}

.iconDelete {
  color: #d82515;
  font-size: 40px;
}
.iconDelete i {
  border-radius: 10px;
  padding: 4px 4px;
}
.iconDelete :hover {
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  background-color: #d82515;
}
.iconDelete :hover:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.iconModify {
  color: #558b2f;
  font-size: 40px;
}
.iconModify i {
  border-radius: 10px;
  padding: 4px 4px;
}
.iconModify :hover {
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  background-color: #558b2f;
}
.iconModify :hover:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.leaflet-popup-content-wrapper {
  background: #f7f5ee !important;
  border: 1px solid #558b2f !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  color: #333333;
  line-height: 1.7;
}
.leaflet-popup-content-wrapper .leaflet-popup-content a {
  font-size: 12px;
  color: #558b2f;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .zona {
  font-size: 14.5px;
  color: #8bc34a;
  text-decoration: underline;
}
.leaflet-popup-content-wrapper .leaflet-popup-content hr {
  border: 1px solid #e0e0e0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .parcelas-li {
  font-size: 12px;
  font-style: italic;
}

hr {
  color: #558b2f;
}

.modal-body,
.modal-header {
  font-family: "Montserrat", sans-serif;
}
.modal-body h5,
.modal-header h5 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.dataTables_info,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

#tablaOrdenar_wrapper > div:first-child {
  margin-bottom: 15px !important;
}
#tablaOrdenar_wrapper > div:first-child > div:first-child {
  display: none;
}
#tablaOrdenar_wrapper > div:first-child div {
  display: flex;
}
#tablaOrdenar_wrapper .dt-row {
  max-height: 700px;
  overflow: auto;
}

.pagination,
.dataTables_info {
  display: none;
}

.leaflet-popup-close-button {
  position: absolute;
  top: 5px !important;
  right: 8px !important;
}
.leaflet-popup-close-button span {
  font-size: 25px;
  margin: 5px;
  color: #333333;
  transition: color 0.3s ease-in-out;
}
.leaflet-popup-close-button span:hover {
  color: #d82515;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(85,139,47,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' fill='none' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.col-md-4 a,
.col-md-6 a,
.col-md-12 a {
  text-decoration: none;
}
.col-md-4 .card-body,
.col-md-6 .card-body,
.col-md-12 .card-body {
  transition: background-color 0.5s ease-in-out;
}
.col-md-4 .card-body:hover,
.col-md-6 .card-body:hover,
.col-md-12 .card-body:hover {
  background-color: #dcedc8;
}/*# sourceMappingURL=global-styles.css.map */