@charset "UTF-8";
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 500px;
  margin-top: 40px;
}

.content {
  z-index: 10;
}

input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 25px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

a {
  font-size: 14px;
}

.buttonPassword {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background-color: #333333;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}
.buttonPassword:hover {
  background-color: #e0e0e0;
  color: #333333;
}

.buttonPassword2 {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background-color: #d82515;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}

.breadcrumb .active {
  color: #8bc34a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-style: italic;
}
.breadcrumb li a {
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.breadcrumb li a:hover {
  color: #8bc34a;
  text-decoration: underline;
}

tbody tr {
  transition: all 0.2s ease-in-out;
}
tbody tr:hover {
  background-color: #e0e0e0 !important;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #333333;
  height: 54px;
  width: 100%;
}
footer p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #e0e0e0;
}

.input-error {
  border: 1px solid red !important;
}

.welcome {
  display: flex;
  align-items: baseline;
  margin-left: 48px;
}
@media (max-width: 576px) {
  .welcome {
    margin-left: 20px;
    flex-wrap: wrap;
  }
}
.welcome .welcome-text {
  display: flex;
  align-items: baseline;
}
.welcome .welcome-text .iconUser {
  font-size: 42px;
}
.welcome .nav-container {
  margin-left: 175px;
}
@media (max-width: 1024px) {
  .welcome .nav-container {
    margin-left: 100px;
  }
}
@media (max-width: 576px) {
  .welcome .nav-container {
    margin-left: 0px;
  }
}
.welcome .buttonLogout {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.welcome .buttonLogout .iconLogout {
  font-size: 42px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: color 0.2s ease-in-out;
}
.welcome .buttonLogout .iconLogout:hover {
  color: red;
}

@media (max-width: 576px) {
  .section,
  .content {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.lateral-menu {
  display: block !important;
  width: 400px;
  height: 77vh;
  padding-top: 36px !important;
  padding-right: 0px !important;
  position: relative;
  top: -40px;
}
@media (max-width: 990px) {
  .lateral-menu {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 576px) {
  .lateral-menu {
    height: unset;
    padding-top: 10px !important;
  }
}
.lateral-menu .nav-item {
  width: 389px;
}
.lateral-menu li {
  display: flex;
  align-items: center;
  height: 60px !important;
  padding-left: 10px;
  margin-top: 20px;
  transition: background-color 0.4s ease-in-out;
}
@media (max-width: 576px) {
  .lateral-menu li {
    height: 50px !important;
    padding-left: 0px;
  }
}
.lateral-menu li:hover {
  background-color: #8bc34a;
}
.lateral-menu .nav-section {
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: baseline;
}
.lateral-menu .nav-section i {
  font-size: 21px;
  margin-right: 10px;
}

.line {
  position: absolute; /* Lo coloca en la parte inferior de la página */
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;
  border-right: 1px solid #e0e0e0;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  z-index: -1; /*Asegura que el div este por debajo de todo el contenido*/
}
@media (max-width: 576px) {
  .line {
    display: none;
  }
}

@media (max-width: 576px) {
  .desktop-table {
    display: none;
  }
}

@media (max-width: 576px) {
  .mobile-accordion {
    display: block;
  }
}

@media (max-width: 576px) {
  .desktop-table {
    display: table;
  }
}

@media (max-width: 576px) {
  .mobile-accordion {
    display: none;
  }
}

.accordion .accordion-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.accordion .accordion-item h2 button {
  font-weight: 500;
}

.iconDelete {
  color: #d82515;
  font-size: 40px;
}
.iconDelete i {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 4px 4px;
}
.iconDelete :hover {
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  background-color: #d82515;
}

.iconModify {
  color: #558b2f;
  font-size: 40px;
}
.iconModify i {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 4px 4px;
}
.iconModify :hover {
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  background-color: #558b2f;
}/*# sourceMappingURL=global-styles.css.map */