@import "variables.scss";

body {
  background-color: $crema !important;
  padding: 0px !important;
}

#map {
  height: 500px;
  margin-top: 40px;
}

.content {
  z-index: 10;
}

iframe{
  width: 100% !important;
}

input,
select,
textarea {
  font-family: $font-Mont;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  @media #{$mobile2} {
    margin-top: 20px !important;
  }
}

h1 {
  font-family: $font-Merri;
  font-size: 35px;

  @media #{$mobile2} {
    font-size: 30px;
  }
}

h2 {
  font-family: $font-Merri;
  font-size: 22px;
  margin-bottom: 12px !important;

  strong {
    font-size: 18px !important;
  }
}

#erroresCliente {
  h2 {
    color: #842029;
    font-size: 20px;
    font-family: $font-Merri;
    font-weight: 600;
  }
}

h3 {
  font-family: $font-Mont;
  font-size: 18px;
}

a {
  font-size: 14px;
}

h1.text-center {
  margin-bottom: 30px;
}

p.text-center {
  font-family: $font-Mont;
  font-size: 17px;
  color: $color-grey;
  margin-bottom: 5px !important;
  margin-top: 0px;
  width: 60%;
  margin: 0 auto;

  @media #{$mobile2} {
    width: 90%;
  }
}

p.mt-5 {
  font-style: italic;
  font-size: 16px;

  span {
    font-weight: 600;
  }

  @media #{$mobile2} {
    display: none;
  }
}

p.card-text {
  font-family: $font-Mont;
  font-size: 14px;
  color: $color-grey;
}

.card-title {
  font-family: $font-Merri;
  font-weight: 600;
  font-size: 20px;
  color: $color-grey;
}

.card-body {
  i {
    color: $secondary-color;
    transition: transform 0.4s ease;


    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}


.buttonPassword {
  width: fit-content;
  height: 30px;
  background-color: $color-grey;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: $font-Mont;
  color: $color-white;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-lightgrey;
    color: $color-grey;
  }
}

.buttonPassword2 {
  width: fit-content;
  height: 30px;
  background-color: $red;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: $font-Mont;
  color: $color-white;
  margin-top: 20px;
}

.breadcrumb {
  align-items: flex-end;

  .active {
    color: $primary-color;
    font-family: $font-Mont;
    font-size: 16px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;

    @media #{$mobile2} {
      font-size: 14px;
    }
  }

  li a {
    text-decoration: none;
    color: $color-grey;
    font-family: $font-Mont;
    font-size: 16px;
    font-weight: 500;

    @media #{$mobile2} {
      font-size: 14px;
    }

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

tbody {
  tr {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $color-lightgrey !important;
    }
  }
}

footer {
  // position: relative;
  // bottom: 0;

  // @media #{$mobile2} {
  //   position: absolute;
  //   bottom: 0;
  // }

  background-color: $color-grey;
  height: 54px;
  width: 100%;

  p {
    font-size: 15px;
    font-family: $font-Mont;
    color: $color-lightgrey;
  }
}

.input-error {
  border: 1px solid red !important;
}

.welcome {
  display: flex;
  align-items: baseline;
  margin-left: 30px;

  @media #{$mobile2} {
    margin-left: 20px;
    flex-wrap: wrap;
  }

  .welcome-text {
    display: flex;
    align-items: baseline;
    width: 13%;

    .iconUser {
      font-size: 42px;
    }
  }

  .nav-container {
    margin-left: 20px;

    @media #{$tablet2} {
      margin-left: 36px;
    }

    @media #{$tablet2} {
      margin-left: 80px;
    }


    @media #{$mobile2} {
      margin-left: 0px;
    }
  }

  .buttonLogout {
    //Eliminar estilos del botón
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    .iconLogout {
      font-size: 42px;

      position: absolute;
      top: 30px;
      right: 30px;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: red;
      }
    }
  }
}

.section,
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$mobile2} {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.navbar-expand-lg {
  position: relative !important;
  top: 0px;
  background-color: $secondary-color;
  // opacity: 0.8;

  @media #{$mobile2} {
    background-color: unset;
  }

}

.lateral-menu {
  display: block !important;
  //background-color: $third-color;
  // width: 400px;
  height: 100vh;
  padding-top: 36px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  top: -40px;

  @media (max-width: 990px) {
    position: relative;
    top: 0px;
  }

  @media #{$mobile2} {
    height: unset;
    padding-top: 10px !important;
  }

  .nav-item {
    // width: 389px;
    border-bottom: 1px solid rgba($color-grey, 0.1);
  }

  .navbar-nav {
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    height: 50px !important;

    @media #{$mobile2} {
      height: 50px !important;
      padding-left: 0px;
    }

    padding-left: 10px;
    margin-top: 20px;
    transition: background-color 0.4s ease-in-out;

    &:hover {
      background-color: $primary-color;
    }
  }

  .nav-section {
    text-decoration: none;
    color: $color-grey;
    display: flex;
    align-items: baseline;

    i {
      font-size: 21px;
      margin-right: 10px;
    }
  }
}

.line {
  position: absolute;
  /* Lo coloca en la parte inferior de la página */
  top: 0;
  left: 0;
  height: 100vh;
  width: 357px;
  border-right: 1px solid #e0e0e0;

  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  z-index: -1;
  background-color: $secondary-color;
  // opacity: 0.8;

  @media #{$tablet} {
    width: 315px;
  }

  @media #{$mobile2} {
    display: none;
  }
}

//Control del acordeon y tabla
.desktop-table {
  @media #{$mobile2} {
    display: none;
  }
}

.mobile-accordion {
  @media #{$mobile2} {
    display: block;
  }
}

.desktop-table {
  @media #{$mobile2} {
    display: table;
  }
}

.mobile-accordion {
  @media #{$mobile2} {
    display: none;
  }
}

.accordion {
  .accordion-item {
    h2 {
      font-family: $font-Mont;
      font-size: 25px;

      button {
        font-weight: 500;

        &.collapsed {
          color: inherit;
          background-color: inherit;
        }

        &:not(.collapsed) {
          color: $color-grey !important;
          background-color: $third-color !important;
        }

        &:focus {
          border-color: $primary-color !important;
          box-shadow: 0 0 0 0.2rem rgba(5, 103, 24, 0.25) !important;
        }
      }
    }
  }
}

.iconDelete {
  color: $red;
  font-size: 40px;

  i {
    border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding: 4px 4px;
  }

  :hover {
    transition: background-color 0.3s ease-in-out;
    color: $color-white;
    background-color: $red;
  }
}

.iconModify {
  color: $secondary-color;
  font-size: 40px;

  i {
    border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding: 4px 4px;
  }

  :hover {
    transition: background-color 0.3s ease-in-out;
    color: $color-white;
    background-color: $secondary-color;
  }
}