@import "variables";

.form-container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-family: $font-Mont;
    box-sizing: border-box;
    margin-top: 5%;
}

.form-container label,
.form-container .text {
    display: block;
    margin-bottom: 8px;
    color: $color-grey;
    font-size: 16px;
    font-weight: 500;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid $color-lightgrey;
    border-radius: 4px;
    font-size: 16px;
    color: $color-grey;
    box-sizing: border-box;
}

.form-container button {
    padding: 12px 20px;
    background-color: $secondary-color;
    color: $color-white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s ease;
    font-family: $font-Mont;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: $primary-color;
}

.error-message {
    background-color: $crema;
    color: $red;
    border: 1px solid $red;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.italic {
    font-style: italic;
    font-size: 13px;
    color: $secondary-color;
}

h1,
p {
    text-align: center;
}

h1 {
    color: $secondary-color;
    font-family: $font-Merri;
}
