//Green
$primary-color: #8bc34a;
$secondary-color: #558b2f;
$third-color: #dcedc8;
//Fondos
$crema: #f7f5ee;
$menu: #6E932A;
//Red
$red: #d82515;
//Orange
$orange: #cf810c;

//Base
$color-white: #ffffff;
$color-grey: #333333;
$color-lightgrey: #e0e0e0;

//Typography
$font-Mont: "Montserrat", sans-serif;
$font-Merri: "Merriweather", serif;

//Media Queries
$mobile2: "(max-width: 576px)";
$tablet2: "(max-width: 1220px)";
$tablet: "(max-width: 1680px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1920px)";