
//Green
$primary-color: #8BC34A;
$secondary-color: #558B2F;
$third-color: #DCEDC8;

//Red
$red: #d82515; 


//Base
$color-white: #FFFFFF;
$color-grey: #333333;
$color-lightgrey: #E0E0E0;

//Typography
$font-Mont: "Montserrat", sans-serif;
$font-Merri: "Merriweather", serif;


